@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');

*{
  box-sizing: border-box;
}

body{
  /* background-image: linear-gradient(to right, #031734, #362258, #761f6a, #b70164, #eb1247); */
  background-image: linear-gradient(to right, #83be36, #b77e00, #c5201f, #a00058, #190084);
  font-family: 'Spartan', sans-serif;
}

.container{
  width: 90%;
  margin: auto;
  min-height: 100vh;
}

.search{
  padding-top: 30px;
  text-align: center;
}

.search input{
  border: none;
  outline: none;
  width: 500px;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  background-color: transparent;
  border-bottom: 5px solid rgba(211, 211, 211, 0.3);
}

::placeholder{
  color: rgba(211, 211, 211, 0.3);
  font-size: 2.5rem;
}

.wikilinks{
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link{
  width: 550px;
  height: auto;
  padding: 0 10px;
  margin-top: 10px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  transition: 2s;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1); 
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
}

.link h3{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.link img{
  margin-top: 15px;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 2px;
  cursor: pointer;
}

.link:hover{
  filter: brightness(50%);
  transform: scale(1.1);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  filter: brightness(100%);
}

.middle i{
  font-size:3.5rem;
  color: white;
}

.link:hover .middle{
  opacity: 1;
}

@media(max-width:768px){
  .search input{
    width: 100%;
    font-size: 2rem;
  }

  ::placeholder{
    color: rgba(211, 211, 211, 0.3);
   font-size: 2rem;
  }

  .link h3{
    font-size: 0.8rem;
    font-weight: bold;
  }

  .link{
    width: 100%;
  }

  .middle i{
    font-size:3rem;
  }
}

@media(max-width:480px){
  .search input{
    width: 100%;
    font-size: 1.5rem;
  }

  ::placeholder{
    color: rgba(211, 211, 211, 0.3);
    font-size: 1.5rem;
  }

  .middle i{
    font-size:2.5rem;
  }
}
